body{
    text-align: center;
    background-color: #ed670e;
    font-family: "Lato",sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
            
    }

.button{
    background-color: #ff6600; /* Green */
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 14px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px
       }
           
.button1 {border-radius: 25px;}

.box-shadow{
    margin: auto;
    background: #ffcc80;
    box-shadow: 4px 3px 8px 1px #ff7439;
    -webkit-box-shadow: 4px 3px 8px 1px #b17355;
     width: 800px;
    height:695px;
           }
                               
img {border-radius: 50%;}


#ip2{
    border-radius: 25px;
    border: 2px solid rgb(153, 0, 0);
    padding: 10px; 
    width: 500px;
    height: 5px;    
    }
    
    #ip3{
    border-radius: 2px;
    border: 2px solid rgb(153, 0, 0);
    padding: 10px; 
    width: 250px;
    height: 30px;    
    }


    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #customers tr:nth-child(even){background-color: #f2f2f2;}
      
      #customers tr:hover {background-color: #ddd;}
      
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }


      .btn{
        border: none;
        color: white;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .btn-edit{
        background-color: blue;
    }
    
    .btn-delete{
        background-color: brown;
    }
    
    .btn-view{
        background-color: rgba(219, 121, 16, 0.64);
        color: black;
    }